@media (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  .general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-part-bg {
    text-align: center;
  }

  .right-part-bg {
    margin-top: 20px;
    text-align: center;
  }

  .img-bg {
    margin: 0 auto;
  }
}
