.left-part-sc,
.middle-part-sc,
.right-part-sc {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#heart-car {
  width: 130px;
  padding-top: 10px;
  padding-left: 250px;
}

#money-coin {
  width: 130px;
  padding-top: 10px;
  padding-left: 250px;
}

#switch-icon {
  width: 130px;
  padding-top: 10px;
  padding-left: 250px;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 8px;
    text-align: left;
    border-color: red;
  }

  th {
    background-color: #f2f2f2;
    color: red;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#left-paragraph-bg-sell {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
